<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= mytitle %></title>

    <style>
    
     

         input {
            padding: 10px;
            border: 1px #585858 solid;
            border-radius: 5px;
            outline: none;
            margin-bottom: 20px;

        }

         button {
            padding: 10px;
            background-color: #585858;
            color: #fff;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s ease;
            margin-top: 20px;

        }


        .formInput{
            display: flex;
            gap: 40px;
            flex-direction: column;
            width: 400px;
        }
    </style>
</head>

<body>



    <form action="/" method="post">
              <div class="formInput">
                <label for="title">Article title:</label>
                <input type="text" id="title" name="title" required>
             
              </div>
     
          <div class="formInput">
            <label for="summary">Article summary:</label>
            <input type="text" id="summary" name="summary" required>
         
          </div>
     
       <div class="formInput">
        <label for="body">Article body:</label>
        <textarea id="body" name="body" required></textarea>
       </div>
     
     
        <button class="create">Create</button>
    </form>



    <% const name ="sasa"  %>

    <%= arr[0].title  %>
    <%= arr[0].body  %>

</body>

</html>