<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylee.css">
    <title>Document</title>

    <style>
    
     

         input {
            padding: 10px;
            border: 1px #585858 solid;
            border-radius: 5px;
            outline: none;
            margin-bottom: 20px;

        }

         button {
            padding: 10px;
            background-color: #585858;
            color: #fff;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s ease;

        }
    </style>
</head>

<body>



    <div class="contanier">
        <input type="text" name="" id="">
        <br>

        <button>Send Data</button>
    </div>
</body>

</html>