h2{
    color: rgb(255, 223, 223) !important;
}



input {
    padding: 10px;
    border: 4px #8f0202 solid;
    border-radius: 5px;
    outline: none;
    margin-bottom: 20px;

}

 button {
    padding: 10px;
    background-color: hsl(10, 100%, 54%);
    color: #fdfdfd;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 20px;

}


.formInput{
    display: flex;
    gap: 40px;
    flex-direction: column;
    width: 400px;
}